
.divcbc{
    text-align: center;
    font-family: Asap;
}

#cbc{
    position: relative;
    font-family: Asap;
    font-size: 30px;
    color: white;
    top: 40vh;
}

@media (min-width: 600px){
    #cbc{
        top: 30vh;
        font-size: 25px;
    }
}